body{
    background-color: rgb(27, 27, 27);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin: 0;
    padding: 0;
}

.loading-bar{
    background-color: rgb(128, 128, 128);
    text-align: center;
    width: 500px;
    height: 30px;
    margin-top: 500px;
    border-radius: 50px;
    color: white;
}

.done-bar{
    background-color: red;
    border-radius: 50px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 30px;
    width: 200px;
    box-shadow: 0 5px 2px black;
    transition-duration: 1000ms;
    transition-timing-function: ease-in;
}

.done-bar:hover{
    width: 500px;
}